:root{
--darkViolet: hsl(256, 26%, 20%)
--grayishBlue: hsl(216, 30%, 68%)
--veryDarkViolet: hsl(270, 9%, 17%)
--darkGrayishViolet: hsl(273, 4%, 51%)
--veryLightGray: hsl(0, 0%, 98%)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mobile-hamburger{
    display: none;
}

.mobile-close{
    display: none;
}

.bgLeftMobile{
    display: none;
}

.bgRightMobile{
    display: none;
}

.bg-how-mobile{
    display: none;
}

.footer-bg-mobile{
    display: none;
}


/* For heading 
font-family: 'DM Serif Display', serif;
*/

/* For Body font 
font-family: 'Karla', sans-serif;
*/

