:root{
--darkViolet: hsl(256, 26%, 20%);
--grayishBlue: hsl(216, 30%, 68%);
--veryDarkViolet: hsl(270, 9%, 17%);
--darkGrayishViolet: hsl(273, 4%, 51%);
--veryLightGray: hsl(0, 0%, 98%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body{
    max-width: 100%;
}

a, li{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--darkGrayishViolet);
}


.mobile-hamburger{
    display: none;
    
}

.mobile-close{
    display: none;
}

.bgLeftMobile{
    display: none;
}

.bgRightMobile{
    display: none;
}

.bg-how-mobile{
    display: none;
}

.footer-bg-mobile{
    display: none;
}

.navbar{
    display: flex;
    padding: 1rem 8rem;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-section{
    width: 100%;
    height: 30rem;
    background-color:var(--darkViolet);
    color: #fff;
    padding: 0 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

hr{
    width: 8rem;
    margin-top: 4rem;
}
.bg-left-desktop{
    width: 130px;
    position: absolute;
    left: 0;
    bottom: -8rem;
}

.rightSideInHero{
    display: flex;
    justify-content: end;
}

.img-section img{
    margin-top: 4rem;
    width: 100%;
    height: 75%;
}

.bg-pattern-intro-right-desktop{
    width: 320px;
    position: absolute;
    right: 0;
}

.headingInHero{
    font-size: 4rem;
    padding-top: 2rem;
    line-height: 4rem;
    font-family: 'DM Serif Display', serif;
}

.descriptionInHero{
    font-size: 1rem;
    padding-top: 2rem;
    line-height: 1.5rem;
}

.btnInHero{
    margin-top: 2rem;
}

.viewBtnNavbar{
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: 1px solid black;
}

.viewBtn{
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.second-section{
    margin-top: 10rem;
    padding: 0 8rem;
}

.headingInSection{
    padding-top: 2rem;
    font-size: 3.5rem;
    font-family: 'DM Serif Display', serif;
    color: var(--veryDarkViolet);
}

.secondSnappy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
}

.Snappy-img img{
    width: 70px;
    padding-bottom: 1rem;
}

.Snappy-heading h1{
    font-family: 'DM Serif Display', serif;
    color: var(--veryDarkViolet);
    padding-bottom: 1rem;
}

.Snappy-heading p{
    width: 95%;
    font-size: 18px;
    line-height: 1.5rem;
    color: var(--darkGrayishViolet);
}

.third-section{
    margin-top: 10rem;
    padding: 0 8rem;
}

.thirdSectionFind{
    height: 14rem;
    background-color: var(--darkViolet);
    color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
    place-content: center;
}

.headingThirdLeftSide h1{
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
}
.howWeWorkbtn{
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: 1px solid white;
    color: white;
    z-index: 5;
}

.footer-bg-desktop{
    position: absolute;
    left: 0;
    z-index: -1;
    display: none;
}

.footer-section{
    background-color: var(--veryLightGray);
    margin-top: 10rem;
    padding: 0 8rem;
}

.logo-and-social-media{
   padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social-media-right ul{
    display: flex;
    gap: 0.5rem;
    justify-content: end;
}

.footer-line{
    width: 100%;
    border: 1px solid var(--darkGrayishViolet);
}

/* .footer-last{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */
